body {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: auto 1fr;
    column-gap: 20px;
    font-family: 'Arial', sans-serif;
}

.main {
    grid-row: span 2;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    color: #333333;
}

button {
    border-radius: 5px;
    padding: 10px 25px;
    
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
    border: 1px solid #D4D4D4;
    color: #333333;

    margin-top: 10px;
    align-self: flex-start;
}
button.accent {
    background: rgb(27,139,203);
    background: linear-gradient(180deg, rgba(27,139,203,1) 0%, rgba(11,76,201,1) 100%);
    border: 1px solid #09419E;
    color: white;
}

.menu {
    background-color: #F8F9FA;
    border: 1px solid #DADCE0;
    border-radius: 5px;

    padding-bottom: 7px;

    display: flex;
    flex-direction: column;
}
.menu-title {
    font-size: x-small;
    font-weight: bold;
    text-transform: uppercase;
    color: #777777;
    padding: 10px 12px 5px 12px;
}
.menu-link {
    padding: 3px 12px;
    font-size: small;
    color: #1589C9;
    background-color: transparent;
    cursor: default;
}
.menu-link:hover {
    color: white;
    background-color: #1589C9;
}

.main-header {
    grid-column: span 3;

    background-color: #EEEEEE;
    border: 1px solid #DADCE0;
    border-radius: 5px;

    padding: 50px;

    display: flex;
    flex-direction: column;
}
.main-header-title {
    margin-top: 10px;
    font-size: 40pt;
    font-weight: bolder;
}
.main-container {
    display: flex;
    flex-direction: column;
}
.main-title {
    font-size: x-large;
    font-weight: bold;
}