* {
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Arial', sans-serif;
}

.form-container {
    background-color: #F8F8F8;
    border: 2px solid rgb(0, 178, 65);

    width: 400px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}
.form-container *:not(:first-child) {
    margin-top: 10px;
}

.form-title {
    font-size: xx-large;
    color: gray;
}
.form-subtitle {
    font-size: small;
    color: gray;
}

.form-container input,
.form-container textarea {
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}
.form-container input::placeholder,
.form-container textarea::placeholder {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    opacity: .6;
    font-size: small;
}

.form-container textarea {
    resize: none;
    height: 120px;
}

.form-container input[type=submit] {
    padding: 10px 40px;
    border: none;
    background-color: rgb(0, 178, 65);
    color: white;
    font-weight: bold;
    margin-top: 20px;
}